<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Verbinden
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p *ngIf="!networks || networks.length === 0" padding>
    LED des Prozessors auf der Rückseite der Wordclock muss blau blinken. Ist dies nicht der Fall, muss der Setup-Button 3 Sekunden
    lang gedrückt werden.
  </p>
  <ion-list *ngIf="networks && networks.length > 0">
    <ion-item *ngFor="let network of networks" tappable (click)="connect(network)">
      <h2>{{network.SSID}}</h2>
      <ion-icon name="ios-wifi" item-end color="secondary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>